@import 'compass'

$maroon: #600024

*, body, p, h1, h2, h3, h4, h5, h6
  font-family: "Lato", "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif

*
  -webkit-print-color-adjust: exact
  
a
  color: inherit
  
a:hover
  text-decoration: none
  
li
  margin-bottom: 2px

div.initials
  width: 200px
  height: 200px
  background-color: $maroon
  /*+background-image(radial-gradient(15px 124px, #600024 70px, #fff 215px))
  +border-radius(8px)
  float: right
  margin: 40px 0
  -webkit-print-color-adjust: exact

.initials h1
  color: white
  margin-top: 97px
  font-size: 150px
  -webkit-print-color-adjust: exact
  
.initials span
  -webkit-transform: rotate(-90deg)
  color: white
  display: block
  margin-right: -183px
  margin-top: -151px
  font-size: 24px
	
#name
  font-weight: 100
  font-size: 100px
  margin-top: 177px
  color: #600024
  -webkit-print-color-adjust: exact
  
.resume-sections .span3
  text-align: right

.resume-sections .span3 h3
  border-right: 1px $maroon solid
  padding-right: 20px
  text-transform: lowercase
  
.resume-sections .span9
  position: relative
  
p.lead
  padding-top: 17px
  margin-bottom: 5px
  
span.resume-subtitle
  font-size: 14px
  color: #999  
  text-transform: lowercase
  font-weight: 200
  
span.resume-subtitle-right
  position: absolute
  right: 0
  margin-top: 3px

.resume-sections p
  text-align: justify

.resume-sections .row
  margin-bottom: 20px