---
title: Home
description:
---
.container
  .resume-sections     
    .row#objective
      .span3
        %h3 Objective
      .span9
        %p.lead To get an internship at a stellar software engineering company.
    .row#education
      .span3
        %h3 Education
      .span9
        %p.lead 
          %a{:title => "Computer Science @ Texas A&M", :href => "http://cse.tamu.edu"} Texas A&M University
          %span.resume-subtitle Undergraduate Student
          %span.resume-subtitle.resume-subtitle-right Aug 2011 &minus; Present
        %ul
          %li Compuer Science
          %li 3.61 GPR
          %li 65 Credit Hours Completed
    .row#skills
      .span3
        %h3 Skills
      .span9
        %p.lead Programming Languages
        %ul
          %li PHP, building systems from scratch in various personal projects and business ventures.
          %li C++, extensive use in coursework, especially with various data structures.
          %li Ruby, building and optimizing Rails applications for personal projects and business ideas.
          %li Objective-C, writing apps for personal projects involving iOS SDKs & frameworks.
          %li Haskell, writing functional code to study performance and formal language semantics.
          %li HTML5 + CSS3 + Javascript, building dynamic websites that take advantage of latest web technologies.
        %p.lead Programming Concepts
        %ul
          %li Structuring object classes and subclasses to take advantage of polymorphism and encapsulation properties.
          %li Using various data structures to organize data to maximize efficiency in terms of asymptotic growth.
          %li Implementing sorting and tree traversal algorithms to find optimal performance in terms of time and space complexities.
        %p.lead Software Development
        %ul
          %li Following and applying development workflows such as Agile SCRUM and Kanban.
          %li Using source control management tools, such as git, for projects of all sizes.
          %li Utilizing various source control and branching workflows, such as git-flow, for consistent team development.
        %p.lead Business Development
        %ul
          %li Critically preparing and constantly revising business models and canvases.
          %li Implementing lean startup processes, including validated learning, engines of growth, and model pivots.
    .row#ventures
      .span3
        %h3 Ventures
      .span9
        %p.lead 
          %a{:title => "Learn about Albedo", :href => "http://goalbedo.com"} Albedo
          %span.resume-subtitle Chief Technology Officer
          %span.resume-subtitle.resume-subtitle-right Sept 2012 &minus; Present
        %ul
          %li Building affordable, sms-based customer feedback systems for both local businesses and large enterprises.
          %li Selecting appropriate technologies and directing the workflow of development with the engineering team.
        %p.lead 
          %a{:title => "Shop for textbooks on Tidaltexts", :href => "http://tidaltexts.com"} Tidaltexts
          %span.resume-subtitle Chief Executive Officer
          %span.resume-subtitle.resume-subtitle-right Apr 2012 &minus; Present
        %ul
          %li Developing an alternative business model within the tightly controlled textbook industry. 
          %li Organizing engineering and marketing efforts for development of the product and growth of user base.
    .row#work
      .span3
        %h3 Work
      .span9
        %p.lead 
          %span Texas A&M University Libraries System
          %span.resume-subtitle Student Technician
          %span.resume-subtitle.resume-subtitle-right Oct 2011 &minus; Present
        %ul
          %li Providing support for over 500 library system staff, faculty, and student computing and electronic resources.
          %li Cooperating with University Library System affiliates overseas, such as Texas A&M at Qatar.
          %li Writing documentation for the Digital Initiative Department on software and hardware configuration processes.
        %p.lead 
          %span McAlister's Deli
          %span.resume-subtitle Cashier & Cook
          %span.resume-subtitle.resume-subtitle-right Nov 2009 &minus; Jul 2011
        %ul
          %li Worked as a cashier, server, and cook to provide an affordable and pleasant dining experience. 
          %li Earned the title of Outstanding Employee twice, both as a server and as a cook.
    .row#service
      .span3
        %h3 Service & Leadership
      .span9
        %p.lead
          %a{:title => "Learn about PWC", :href => "http://parentsweekend.tamu.edu"} Parents' Weekend Committee
          %span.resume-subtitle Member
          %span.resume-subtitle.resume-subtitle-right Sept 2012 &minus; Present
        %ul
          %li Serving the Aggie Family by organizing the annual Parents' Weekend and its various social events.
          %li Organizing committee efforts through consistent communication.
        %p.lead
          %a{:title => "Learn about Fish Camp", :href => "http://fishcamp.tamu.edu"} Fish Camp
          %span.resume-subtitle Counselor
          %span.resume-subtitle.resume-subtitle-right Mar 2012 &minus; Present
        %ul
          %li Helping incoming Freshman adjust to Aggie life and providing an accepting environment to allow for new friendships to form.
        %p.lead 
          %a{:title => "Learn about MSC FISH", :href => "http://fish.tamu.edu"} MSC Freshman Leadership Organization
          %span.resume-subtitle Committee Member
          %span.resume-subtitle.resume-subtitle-right Sept 2011 &minus; Mar 2012
        %ul
          %li Participated in community service projects and leadership development programs as well as hosting campus events to promote social issue awareness.